body, html {
	height: 100%;
	overflow: hidden;
}

h3, h4 {
    text-align: center;
}

.actionbaritem {
	width: 100%;
}

#drillStatusField {
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

#bodywrapper {
	height: 100%;
}

#gridwrapper {
	height: calc(100% - 300px);
}

.mainFrame {
	padding: 10px;
	height: 100%;
}

footer { 
  position: absolute; 
    bottom: 0; 
    width: 100%; 
}

#canvas { 
  height: 100%; 
  width: 100%; 
  background-size: 100% 100%;
}

.statusbarLabel {
	text-align: center;
}